body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}


img {
    display: block;
    margin: 0 auto;
    background-color: #f2f2f2; 
}
h1, h2, h3 {
    text-align: center;
}


h1, h2, h3 {
    font-size: 36px;
}
p {
    max-width: 95%; 
    margin: 0 auto; 
    font-family: Montserrat;
    font-size:larger;
}
footer {
    background-color: #f2f2f2; 
    padding: 20px;
    text-align: center; 
}
.bcg-full{
    background: lightgray;
}
.header_2 img {
    width: 600px;
    height: 200px;
}
.header_2{
    background:#222223
}
.snacks-content {
    background-color: white; 
    color: black; 
    padding: 20px; 
}
.snacks-content img {
    width: 250px; 
    height: 250px; 
}
a.nav-link{
    color: white;
}
footer {
    background-color: #343a40; 
    padding: 20px 0;
    text-align: center;
}
footer button {
    color: #fff; 
    background-color: #6c757d; 
    border-color: #6c757d; 
    padding: 10px 20px;
    margin-top: 10px; 
}
footer button:hover {
    color: #fff;
    background-color: #495057; 
    border-color: #495057;
}
.navbar-nav .nav-link:hover,
        .navbar-brand:hover {
            color: black !important;
        }
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}


@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }
}